## Задача 1 
Оформляйте ноутбук, используя эти советы:
* Номер задачи - заголовок 2
* Номер подзадачи - заголовок 3
* Предоставленные наборы данных оформляйте, как код

## Задача 2 
На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе, при помощи использования kwargs

In [1]:
def fruits(**kwargs):
    
    total_fruits = sum(kwargs.values())
    
    return f'Total fruits: {total_fruits}'

In [3]:
print(fruits(apples=10, bananas=5, avocado=4))

Total fruits: 19

## Задача 3
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [4]:
def summ(data: list):
    
    new_data = []
    
    for i in data:
        if i > 0:
            new_data.append(i)
            
    print(f'Total sum: {sum(new_data)}')

In [5]:
data = [100, 125, -90, 345, 655, -1, 0, 200]

summ(data)

Total sum: 1425

In [6]:
print(f'Total sum: {sum([i for i in data if i > 0 ])}')

Total sum: 1425

## Задача 4

Даны два списка.

Дата покупки

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Задача 4.1
Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [10]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
        '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
        '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
        '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
        '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
        '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
revenue = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 
        4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 
        2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [11]:
def nov(data1: list, data2: list) -> list:
    
    new_data = []
    
    for i in range(len(data1)-1):
        if '-11-' in data1[i]:
            new_data.append(data2[i])
            
    return new_data

In [12]:
print(f'Revenue: {sum(nov(date, revenue))}')

Revenue: 25098

In [13]:
print(f'Revenue: {sum([revenue[i] for i in range(len(date)-1) if "-11" in date[i]])}')

Revenue: 25098

### Задача 4.2
Найдите выручку компании в зависимости от месяца

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, 

а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

Используйте аннотирование типов.

In [14]:
def rev(data1: list, data2: list) -> dict:
    
    rev = {}
    
    for i in range(len(data1)):
        
        if date[i].split('-')[1] in rev.keys():
            rev[date[i].split('-')[1]] += revenue[i]
        else:
            rev[date[i].split('-')[1]] = revenue[i]
            
    return rev

print(rev(date, revenue))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}